.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}
.example-full-width {
  width: 100%;
}
.example-button-row {
  display: table-cell;
}
.w45{
  width: 47%;
  margin-right: 5px;
  margin-left: 10px;
  float: left;
  text-align: left;
}
.w100{
  width: 100%;
  display: inline-block;
}
.main{
  text-align: center;
  padding: 5px;
  margin-left: 40px;
}
.next{
  border-radius: 25px
}
.mt20{
  margin-top: 20px;
}
.radio-button-uncheck{
  padding: 5px;
}
.error{
  color: red;
}


