mat-hint {
  color: #3A4BA6;
  font-size: 12px;
}

.main {
  text-align: center;
  width: 640px;
  margin-left: 41px;
}

.example-form {
  width: 434px;
  margin-left: 146px;
}

.example-full-width {
  width: 100%;
}

.example-button-row {
  display: table-cell;
}

.w45 {
  width: 47%;
  float: left;
  text-align: left;
}

.w100 {
  width: 100%;
  display: inline-block;
}

.next {
  border-radius: 25px
}

.mt20 {
  margin-top: 20px;
}

.mr-10 {
  margin-right: 10px;
}

.radio-button-uncheck {
  padding: 5px;
}

.error {
  color: rgba(178, 16, 1, 1);
}

.p0 {
  padding: 0;
}

.pl-10 {
  padding-left: 10px;
}

.input-width {
  width: 425px;
}


