<div class="main">
  <form class="example-form" id="formId" [formGroup]="form">
    <h2>Form Title</h2>
    <div class="w100 ">
      <div class="w45 pl-10">
        <app-input [formControlName]="controlNames.FirstInput"
                   [placeholder]="'input label'"
                   [value]="form.controls[controlNames.FirstInput].value"
                   [hasError]="form.controls[controlNames.FirstInput].hasError('required')"
                   [submited]="submited"
                   [inputClass]="'doubleInput'"
        ></app-input>
        <app-clear-button [ngStyle]="form.get(controlNames.FirstInput).value ? {visibility: 'visible'}: {visibility: 'hidden'} "
                          class="double-input-button"
                          [disabled]="form.get(controlNames.FirstInput).status === 'DISABLED'"
                          (clearString)="clearInput(controlNames.FirstInput)"
        ></app-clear-button>
      </div>
      <div class="w45">
        <app-input [formControlName]="controlNames.SecondInput"
                   [placeholder]="'input label'"
                   [value]="form.controls[controlNames.SecondInput].value"
                   [hasError]="form.controls[controlNames.SecondInput].hasError('required')"
                   [submited]="submited"
                   [inputClass]="'doubleInput'"
        ></app-input>
        <app-clear-button [ngStyle]="form.get(controlNames.SecondInput).value ? {visibility: 'visible'}: {visibility: 'hidden'} "
                          class="double-input-button"
                          [disabled]="form.get(controlNames.SecondInput).status === 'DISABLED'"
                          (clearString)="clearInput(controlNames.SecondInput)"
        ></app-clear-button>
      </div>
    </div>
    <span class="radio-button-uncheck">
      <mat-hint [ngStyle]="checkRadio ? {visibility: 'visible'}: {visibility: 'hidden'}">
        <span class="error">please check radio buttons</span>
      </mat-hint>
    </span>
    <div class="w100">
      <div class="w45 pl-10">
        <div>
          <mat-hint>Experience in Angular 10-11</mat-hint>
        </div>
        <app-radio-button id="firstRadio" formControlName="firstRadioButton"></app-radio-button>
      </div>
      <div class="w45">
        <div>
          <mat-hint>Estimate for the task - 4H</mat-hint>
        </div>
        <app-radio-button id="secondRadio" formControlName="secondRadioButton"></app-radio-button>
      </div>
    </div>
    <div class="p0 input-width">
      <app-input [formControlName]="controlNames.ThirdInput"
                 class="full-width"
                 [placeholder]="'input label'"
                 [value]="form.controls[controlNames.ThirdInput].value"
                 [hasError]="form.controls[controlNames.ThirdInput].hasError('required')"
                 [submited]="submited"
                 [inputClass]="''"
      ></app-input>
      <app-clear-button [ngStyle]="form.get(controlNames.ThirdInput).value ? {visibility: 'visible'}: {visibility: 'hidden'} "
                        class="alone-input-button"
                        [disabled]="form.get(controlNames.ThirdInput).status === 'DISABLED'"
                        (clearString)="clearInput(controlNames.ThirdInput)"
      ></app-clear-button>
    </div>
    <div class="p0 input-width">
      <app-input [formControlName]="controlNames.FourthInput"
                 class="full-width"
                 [placeholder]="'input label'"
                 [value]="form.controls[controlNames.FourthInput].value"
                 [hasError]="form.controls[controlNames.FourthInput].hasError('required')"
                 [submited]="submited"
                 [inputClass]="''"
      ></app-input>
      <app-clear-button [ngStyle]="form.get(controlNames.FourthInput).value ? {visibility: 'visible'}: {visibility: 'hidden'} "
                        class="alone-input-button"
                        [disabled]="form.get(controlNames.FourthInput).status === 'DISABLED'"
                        (clearString)="clearInput(controlNames.FourthInput)"
      ></app-clear-button>
    </div>
    <div class="p0 input-width">
      <app-input [formControlName]="controlNames.FifthInput"
                 class="full-width"
                 [placeholder]="'input label'"
                 [value]="form.controls[controlNames.FifthInput].value"
                 [hasError]="form.controls[controlNames.FifthInput].hasError('required')"
                 [submited]="submited"
                 [inputClass]="''"
      ></app-input>
      <app-clear-button [ngStyle]="form.get(controlNames.FifthInput).value ? {visibility: 'visible'}: {visibility: 'hidden'} "
                        class="alone-input-button"
                        [disabled]="form.get(controlNames.FifthInput).status === 'DISABLED'"
                        (clearString)="clearInput(controlNames.FifthInput)"
      ></app-clear-button>
    </div>
    <div class="mt20">
      <button
        mat-raised-button
        type="submit"
        [disabled]="submited"
        class="next"
        color="primary"
      >Next
      </button>
    </div>
  </form>
</div>
