<div class="main">
  <form (ngSubmit)="onSubmit()" action="" class="example-form" [formGroup]="form">
  <h1>Form Title</h1>
    <div class="w100">
      <div class="w45"><app-input formControlName = 'firstInput'
                                  [placeholder]="'input label'"
                                  [hasError] = "form.controls['firstInput'].hasError('required')"
                                  [submited]="submited"
      ></app-input></div>
      <div class="w45"><app-input formControlName = 'secondInput'
                                  [placeholder]="'input label'"
                                  [hasError] = "form.controls['secondInput'].hasError('required')"
                                  [submited]="submited"
      ></app-input></div>
    </div>
    <mat-hint *ngIf="checkRadio"><strong>please check radio buttons</strong></mat-hint>
    <div class="w100">
      <div class="w45">
        <div><mat-hint>Experience in Angular 10-11</mat-hint></div>
        <app-radio-button id="firstRadio" formControlName="firstRadioButton" ></app-radio-button>
      </div>
      <div class="w45">
        <div><mat-hint>Estimate for the task - 4H</mat-hint></div>
          <app-radio-button id="secondRadio" formControlName="secondRadioButton"></app-radio-button>
      </div>
    </div>
    <div><app-input formControlName = 'thirdInput'
                    [placeholder]="'input label'"
                    [hasError] = "form.controls['thirdInput'].hasError('required')"
                    [submited]="submited"
    ></app-input></div>
    <div><app-input formControlName = 'fourthInput'
                    [placeholder]="'input label'"
                    [hasError] = "form.controls['fourthInput'].hasError('required')"
                    [submited]="submited"
    ></app-input></div>
    <div><app-input formControlName = 'fifthInput'
                    [placeholder]="'input label'"
                    [hasError] = "form.controls['fifthInput'].hasError('required')"
                    [submited]="submited"
    ></app-input></div>
    <div>
      <button mat-raised-button class="next" color="primary">Next</button>
    </div>
  </form>
</div>
