.example-width {
  vertical-align: middle;
}
.input{
  padding: 25px 20px 5px 5px;
  border: 1px solid #d9d9d9;
  border-radius: 4px;
  height: 35px;
  margin-right: 5px;

}
.input:focus {
  border: 1px solid #002afd;
}
.input-error{
  border: 1px solid #ff0101;
}

::ng-deep{
  .mat-hint{
    strong {
      color: red;
    }
  }
  .mat-form-field-label{
    text-align: center;
    top: 1.8em !important;
  }
  .mat-form-field-suffix{
    top: -1.4em;
    padding-left: 5px;
  }
  .mat-form-field-underline{
    display: none;
  };
  .mat-form-field{
    width: 100%;
  }
  .mat-form-field-wrapper{
    padding-bottom: 1em !important;
  }
  .mat-form-field-appearance-legacy.mat-form-field-can-float.mat-form-field-should-float .mat-form-field-label{
    margin-left: 10px ;
    text-align: left ;
    top: 1em;
  }
}
