<mat-form-field>
  <mat-label><p>input label</p></mat-label>
  <input class="input"
         autocomplete="off"
         [ngClass]="{
          'input-error': hasError && submited,
          'double-input': inputClass === 'doubleInput',
          'disabled': disabled
          }"
         matInput
         [disabled]="disabled"
         [(ngModel)]="value" placeholder="">
  <button
    [ngStyle]="value ? {visibility: 'visible'}: {visibility: 'hidden'} "
    type="button"
    mat-button
    matSuffix
    mat-icon-button
    aria-label="Clear"
    (click)="value = ''" [disabled]="disabled"
  >
    <mat-icon>close</mat-icon>
  </button>
  <mat-hint class="error" *ngIf="hasError && submited">
    <span>Error, required input</span>
  </mat-hint>
</mat-form-field>

<ng-content></ng-content>
