<mat-form-field class="example-width">
  <mat-label><p>input label</p></mat-label>
  <input class="input" [ngClass]="{'input-error': hasError && submited}" type="email" matInput  [disabled]="disabled" [(ngModel)]="value" placeholder="">
  <button
    [ngStyle]="value ? {visibility: 'visible'}: {visibility: 'hidden'} "
    mat-button
    matSuffix
    mat-icon-button
    aria-label="Clear"
    (click)="value = ''" [disabled]="disabled"
  >
    <mat-icon>close</mat-icon>
  </button>
  <mat-hint class="error" *ngIf="hasError && submited">
    <strong>Error, required input</strong>
  </mat-hint>
</mat-form-field>

<ng-content></ng-content>
