<mat-form-field>
  <mat-label><p>input label</p></mat-label>
  <input class="input"
         autocomplete="off"
         [ngClass]="{
          'input-error': hasError && submited,
          'double-input': inputClass === 'doubleInput',
          'disabled': disabled
          }"
         matInput
         [disabled]="disabled"
         [(ngModel)]="value" placeholder="">
  <mat-hint class="error" *ngIf="hasError && submited">
    <span>Error, required input</span>
  </mat-hint>
</mat-form-field>

<ng-content></ng-content>
